
@{
    ViewBag.Title = "ListarBasesMilitares";
}

<h2>ListarBasesMilitares</h2>

@*<div>
    @{int counter = 1;
    foreach (var item in Model)
    {
        <label>@counter</label>
        &nbsp;
        @Html.ActionLink(item.title, "View", new { id = item.id })
        counter++;
    }
    }
</div>*@