@model PorjetoUfsmArrano.Models.Avaliar
@{
    ViewBag.Title = "Grafico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("notas")
    </div>
    <div class="col-md-4">
        @Html.Partial("notas")
    </div>
    <div class="col-md-4">
        @Html.Partial("notas")
    </div>
</div>

